/* Global styles */
:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(24, 39, 51 , 0.85);
  --menu-speed: 0.75s;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
}


  /* Navigation bar styles */


  .menu-wrap {
    position: fixed;
    top: 0;
    right: 0;
    display: inline-block;
    z-index: 1;
  }
  
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  
  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: .4rem;
    padding: 1rem;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Hamburger Line */
  .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  
  /* Hamburger Lines - Top & Bottom */
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  
  /* Moves Line Down */
  .menu-wrap .hamburger > div::after {
    top: 10px;
  }
  
  /* Toggler Animation */
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  
  /* Turns Lines Into X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  
  /* Rotate On Hover When Checked */
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  
  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }
  

  /* Section styles */
 
  #home {
    background-color: #f2f2f2;
    margin-top: 4%;
    padding: 50px;
    height: 100vh;
    width: 100%;
    text-align: center;
  }
  
  #home h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  #home p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  #home button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #home button:hover {
    background-color: #3e8e41;
  }
  

  #tours {
    background-color: #f9f9f9;
    padding: 50px;
    height: 100vh;
    width: 100%;
  }
  
  #tours h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  #tours ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  #tours li {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 30px;
    text-align: center;
  }
  
  #tours h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  #tours img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  #tours p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  #tours button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #tours button:hover {
    background-color: #3e8e41;
  }
  

 /* Testimonials section styles */
 

 #testimonials {
  background-color: #f2f2f2;
  padding: 50px;
  height: 100vh;
  width: 100%;

}

#testimonials h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
}

#testimonials ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#testimonials li {
  margin-bottom: 40px;
  text-align: center;
}

#testimonials blockquote {
  font-size: 24px;
  font-style: italic;
  margin-bottom: 20px;
  color: #666;
}

#testimonials cite {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

#testimonials cite::before {
  content: "- ";
}

#testimonials cite::after {
  content: ", happy customer";
}

@media screen and (min-width: 768px) {
  #testimonials ul {
    display: flex;
    justify-content: space-between;
  }

  #testimonials li {
    flex-basis: calc(50% - 20px);
  }
}

  
  /* Contact section styles */

  /* set general font and color styles */
body {
  font-family: Arial, sans-serif;
  color: #333;
}

/* style the contact section */
#contact {
  padding: 50px;
  background-color: #f5f5f5;
  text-align: center;
}

/* style the heading */
#contact h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

/* style the form labels */
#contact label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
}

/* style the form inputs */
#contact input,
#contact textarea {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1.2em;
  width: 100%;
  margin-bottom: 20px;
}

/* style the form button */
#contact button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* hover effect on form button */
#contact button:hover {
  background-color: #3e8e41;
}

  
  /* Footer styles */
  
   footer {
    padding: 10px;
    background-color:#333 ;
    font-size: 1rem;
    color: #fff;
    height: 20vh;
    width: auto;
    display: grid;
    position: relative;
    align-items: center;
    justify-items: center;
  }


  /* Media Query */

  @media screen and (max-width: 768px) {
    .nav-links {
      width: 100%;
    }
  }